
/*--- SECCIONES ---*/
.mt-list-section { /* Sección de las listas */
    display: flex;
    gap: 30px 20px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px;
    padding: 20px;
    justify-content: center;
}


/*--- CONTENEDORES ---*/



.mt-addList-container { /* Contenedor del input y botón para agregar una nueva lista, oculto por defecto */
    display: none;
    background-color: var(--primary-bg-color);
    justify-content: space-between; 
    gap: 10px;
    flex-wrap: nowrap;
    width: var(--list-with);
    padding: 7px;
    max-width: var(--list-max-width);
    flex-grow: 1;
    border-radius: var(--border-radius);
}

.mt-addList-container.is-add { /* Muestra el contenedor para agregar una nueva lista */
    display: flex;
}

/*--- BOTONES ---*/

.mt-newList-button { /* Botón para añadir una nueva lista, oculto por defecto */
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 0;
    padding: 12px;
    background-color: #ffffff3d;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    display: none;
    width: var(--list-with);
    max-width: var(--list-max-width);
    flex-grow: 1;
}

.mt-newList-button:hover { /* Efecto hover para el botón de añadir una lista */
    opacity: 0.8;
    background-color: #BFDBF847;
}

.mt-newList-button.is-add { /* Muestra el botón para añadir una nueva lista */
    display: inline-block;
}

.mt-addList-header-buttonAdd { /* Botón para confirmar la adición de una nueva lista */
    background-color: green;
    padding: 5px;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    height: 28px;
}

.mt-addList-header-buttonAdd:hover{
    cursor: pointer;
}

.mt-addList-header-buttonExit { /* Botón para cancelar la adición de una nueva lista */
    color: #ffffff3d;
    background-color: transparent;
    border: none;
}

.mt-addList-header-buttonExit:hover { /* Efecto hover para el botón de cancelar */
    cursor: pointer;
}

/*--- INPUTS ---*/

.mt-addList-header-input { /* Estilo del input para agregar una nueva lista */
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    field-sizing: content;
    resize: none;
    max-height: 100px;
    border: none;
    outline: none;
}

.mt-addList-header-input:focus{
    box-shadow:  inset 0 0 0 2px #85B8FF;
}
/*--- CABECERAS ---*/

.mt-addList-header { /* Envoltorio dentro del contenedor para agregar una nueva lista */
    display: flex;
    width: 100%;
    border-radius: 19px;
    gap: 4px;
}















