.mt-task-section{
    padding: 12px;
}

.mt-task-container {
    padding: 10px;
    background-color: red;
}

.mt-task-container:hover {
    cursor:grab;
}

.mt-task-container:active {
    cursor:grabbing;
}

.mt-task-container.is-dragging{
    opacity: 0.8;
}

#Drag {
    position: absolute;
}